.chat-container {
  height: calc(100vh - 56px) !important;
}
.chat-window {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}
.chat-input {
  height: 3rem;
  width: 100%;
  padding-right: 1rem;
}
.chat {
  height: calc(100vh - 56px - 3rem - 2rem - 1rem) !important;
  margin-bottom: 1rem;
  width: 100%;
}
app-chat {
  width: 100%;
  height: 100%;
}

.alert {
  z-index: 1000;
  position: absolute;
  top: 10;
  right: 0;
}
